# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
text=s.split()

NameError: ignored

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of{} is{} kilometers.".format(planet,diameter))

NameError: ignored

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [ ]:
array=np.zeros(10)

In [ ]:
array=np.ones(10)*5

NameError: ignored

## 5. Create an array of all the even integers from 20 to 35

In [ ]:
array=np.arange(20,36,2)

NameError: ignored

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
np.range(0,9).reshape((3,3))

NameError: ignored

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
np.concatenate((a,b))

NameError: ignored

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(3,2)

NameError: ignored

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
pd.date_range(start="2023-01-01",end="2023-02-10").to_pydatetime().tolist()

NameError: ignored

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
pd.DataFrame(lists,columns=['num','name','age'])

NameError: ignored